:root {
  --secondary-color: #ffcb02;
  --accent-color: #3765ae;
  --tertiary-color: hsl(214, 5%, 72%);
}

.btn {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.btn-outline-warning:hover {
  border-color: var(--secondary-color);
}

.form-control:focus {
  box-shadow: 0px 0px 5px 0px inset var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.form-control:hover {
  box-shadow: 0px 0px 5px 0px inset var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.navbar {
  border-radius: 15px;
}

.btn-types {
  color: white;
  border: none;
}

.btn-types:hover {
  cursor: default;
}

.pokemon-card {
  border: none;
  border-radius: 15px;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  box-shadow: none;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 5px
    color-mix(in srgb, var(--type-color) 100%, transparent);
  z-index: 1;
  color: white;
}
